<!DOCTYPE html>
<html>
<head>
	<title>Administrace | Visualio CMS</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex,follow">

	<link rel="shortcut icon" href="{$basePath}/backend/img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,latin-ext" />
	<link rel="stylesheet" type="text/css" href="{$basePath}/backend/css/main.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{$basePath}/backend/js/ie-shiv-respond.js"></script>
	<script src="{$basePath}/backend/js/netteForms.js"></script>
	<script src="{$basePath}/backend/js/main.js"></script>
</head>
<body>

<div class="wrapper">

	{form signInForm class=>'login-form'}
		<div class="logo">
			<img src="{$basePath}/backend/img/logo.png" alt="Visualio CMS" />
		</div>

		{*<div class="input lang">
			<select name="lang">
				<option value="cz">cz</option>
				<option value="en">en</option>
			</select>
		</div>*}

		<div class="input login">
			{input email placeholder=>"E-mailová adresa", class=>"transition"}
		</div>

		<div class="input password">
			{input password placeholder=>"Heslo", class=>"transition"}
		</div>

		<div class="input submit">
			<button n:name="send">
				<span class="icon bg-c-2">
					<i></i>
				</span>
				<span class="label bg-c-1 bg-c-2-hover transition">Přihlásit se</span>
			</button>
		</div>

		<div class="forgot-password">
			<a n:href="forgotPassword">Zapomenuté heslo</a>
		</div>

		<!-- Vykreslení chyb -->
		<div n:if="$flashes" class="flash error">
			<p n:foreach="$flashes as $flash">{$flash->message}</p>
		</div>

		<div class="flash error" n:if="$form->hasErrors()">
		    <p n:foreach="$form->errors as $error">{$error}</p>
		</div>
	{/form}

</div>

</body>
</html>